# What is Dataframe and its operations?

A dataframe is similar to Excel workbook tabular data structure.

### 1. DataFrame.shape() : 
Dimensions of data frames " Rows x Columns " 

### 2. DataFrame.head(n) / DataFrame.tail(n) :
Access top / bottom n records

### 3. DataFrame.columns
Access all columns

### 4. DataFrame["column_name"]
Access data of one column

### 5. DataFrame[["column1", "column2",...]]
Access data of multiple columns

In [2]:
import pandas as pd
df = pd.read_csv("apple_quality.csv")

In [3]:
df.head()

,A_id,Size,Weight,Sweetness,Crunchiness,Juiciness,Ripeness,Acidity,Quality
0,0.0,-3.970049,-2.512336,5.346330,-1.012009,1.844900,0.329840,-0.491590483,good
1,1.0,-1.195217,-2.839257,3.664059,1.588232,0.853286,0.867530,-0.722809367,good
2,2.0,-0.292024,-1.351282,-1.738429,-0.342616,2.838636,-0.038033,2.621636473,bad
3,3.0,-0.657196,-2.271627,1.324874,-0.097875,3.637970,-3.413761,0.790723217,good
4,4.0,1.364217,-1.296612,-0.384658,-0.553006,3.030874,-1.303849,0.501984036,good

In [4]:
df.tail()

,A_id,Size,Weight,Sweetness,Crunchiness,Juiciness,Ripeness,Acidity,Quality
3996,3996.0,-0.293118,1.949253,-0.204020,-0.640196,0.024523,-1.087900,1.854235285,good
3997,3997.0,-2.634515,-2.138247,-2.440461,0.657223,2.199709,4.763859,-1.334611391,bad
3998,3998.0,-4.008004,-1.779337,2.366397,-0.200329,2.161435,0.214488,-2.229719806,good
3999,3999.0,0.278540,-1.715505,0.121217,-1.154075,1.266677,-0.776571,1.599796456,good
4000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Created_by_Nidula_Elgiriyewithana,NaN

In [6]:
df.shape

(4001, 9)

In [8]:
df.size

36009

In [9]:
df.info

<bound method DataFrame.info of         A_id      Size    Weight  Sweetness  Crunchiness  Juiciness  Ripeness  \
0        0.0 -3.970049 -2.512336   5.346330    -1.012009   1.844900  0.329840
1        1.0 -1.195217 -2.839257   3.664059     1.588232   0.853286  0.867530
2        2.0 -0.292024 -1.351282  -1.738429    -0.342616   2.838636 -0.038033
3        3.0 -0.657196 -2.271627   1.324874    -0.097875   3.637970 -3.413761
4        4.0  1.364217 -1.296612  -0.384658    -0.553006   3.030874 -1.303849
...      ...       ...       ...        ...          ...        ...       ...
3996  3996.0 -0.293118  1.949253  -0.204020    -0.640196   0.024523 -1.087900
3997  3997.0 -2.634515 -2.138247  -2.440461     0.657223   2.199709  4.763859
3998  3998.0 -4.008004 -1.779337   2.366397    -0.200329   2.161435  0.214488
3999  3999.0  0.278540 -1.715505   0.121217    -1.154075   1.266677 -0.776571
4000     NaN       NaN       NaN        NaN          NaN        NaN       NaN

                                Acidity Quality
0                          -0.491590483    good
1                          -0.722809367    good
2                           2.621636473     bad
3                           0.790723217    good
4                           0.501984036    good
...                                 ...     ...
3996                        1.854235285    good
3997                       -1.334611391     bad
3998                       -2.229719806    good
3999                        1.599796456    good
4000  Created_by_Nidula_Elgiriyewithana     NaN

[4001 rows x 9 columns]>

In [10]:
#seeing names of column in dataframe
df.columns

Index(['A_id', 'Size', 'Weight', 'Sweetness', 'Crunchiness', 'Juiciness',
       'Ripeness', 'Acidity', 'Quality'],
      dtype='object')

In [11]:
#selecting single column
df['Weight']

0      -2.512336
1      -2.839257
2      -1.351282
3      -2.271627
4      -1.296612
          ...
3996    1.949253
3997   -2.138247
3998   -1.779337
3999   -1.715505
4000         NaN
Name: Weight, Length: 4001, dtype: float64

In [12]:
#seeing multiple columns
df[['Acidity','Quality']]

                                Acidity Quality
0                          -0.491590483    good
1                          -0.722809367    good
2                           2.621636473     bad
3                           0.790723217    good
4                           0.501984036    good
...                                 ...     ...
3996                        1.854235285    good
3997                       -1.334611391     bad
3998                       -2.229719806    good
3999                        1.599796456    good
4000  Created_by_Nidula_Elgiriyewithana     NaN

[4001 rows x 2 columns]

In [13]:
#selecting rows by their position
df.iloc[:,5] #0 to 4

0       1.844900
1       0.853286
2       2.838636
3       3.637970
4       3.030874
          ...
3996    0.024523
3997    2.199709
3998    2.161435
3999    1.266677
4000         NaN
Name: Juiciness, Length: 4001, dtype: float64

In [15]:
#selecting columns by their position
#selecting first two columns
df.iloc[:,:2] #--> first : to select all the rows

# second colon :2 , to select second column

        A_id      Size
0        0.0 -3.970049
1        1.0 -1.195217
2        2.0 -0.292024
3        3.0 -0.657196
4        4.0  1.364217
...      ...       ...
3996  3996.0 -0.293118
3997  3997.0 -2.634515
3998  3998.0 -4.008004
3999  3999.0  0.278540
4000     NaN       NaN

[4001 rows x 2 columns]

In [16]:
df[df['Quality']=='good']

,A_id,Size,Weight,Sweetness,Crunchiness,Juiciness,Ripeness,Acidity,Quality
0,0.0,-3.970049,-2.512336,5.346330,-1.012009,1.844900,0.329840,-0.491590483,good
1,1.0,-1.195217,-2.839257,3.664059,1.588232,0.853286,0.867530,-0.722809367,good
3,3.0,-0.657196,-2.271627,1.324874,-0.097875,3.637970,-3.413761,0.790723217,good
4,4.0,1.364217,-1.296612,-0.384658,-0.553006,3.030874,-1.303849,0.501984036,good
6,6.0,1.331606,1.635956,0.875974,-1.677798,3.106344,-1.847417,2.414170509,good
...,...,...,...,...,...,...,...,...,...
3992,3992.0,1.764253,-2.079695,-0.083383,-0.086724,-1.703385,3.840101,-0.338260538,good
3994,3994.0,1.482508,-2.581181,-0.306888,1.527877,1.056361,2.560829,-1.229254586,good
3996,3996.0,-0.293118,1.949253,-0.204020,-0.640196,0.024523,-1.087900,1.854235285,good
3998,3998.0,-4.008004,-1.779337,2.366397,-0.200329,2.161435,0.214488,-2.229719806,good
3999,3999.0,0.278540,-1.715505,0.121217,-1.154075,1.266677,-0.776571,1.599796456,good